{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | AF Web Studio{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32.png' %}?v=5">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16.png' %}?v=5">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon-180.png' %}?v=5">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}?v=5">
  <link rel="stylesheet" href="{% static 'css/admin.css' %}?v=3">
{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">AF Web Studio — Admin</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
